@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alumni Sans", -apple-system, system-ui;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 360px;
  height: 640px;
  margin: 0 auto;
  color: #ffffff;
  overflow: hidden;
  background: #151515;
  box-shadow: 0 0 6px rgba(150, 150, 150, 0.2);
}

.app {
  background: linear-gradient(#1C1C1C, #000000);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chapter {
  height: 81px;
  background: #151515;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  position: relative;
}

.chapter-info {
  width: 100%;
  position: relative;
}

.chapter-title {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}

.back, .sound {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px;
  transition: transform 0.2s;
}

.back:active, .sound:active {
  transform: translateY(-50%) scale(0.95);
}

.back {
  display: none;
  left: -25px;
}

.sound {
  right: -22px;
}

.content {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.scene-content {
  height: 100%;
  overflow: hidden;
}

.text {
  white-space: pre-line;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.scene-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1;
}

.navigation {
  min-height: 67px;
  background: #181818;
  box-shadow: 0 -4px 4px rgba(0,0,0,0.25);
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
}

.next_button, .button {
  width: 100%;
  height: 50px;
  background-color: #5C1E1E;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 1;
  white-space: pre-line;
  transition: transform 0.1s, filter 0.2s;
}

.next_button {
  background-color: inherit;
  font-weight: bold;
}

.next_button:active, .button:active, .retry-button:active {
  transform: scale(0.98);
  filter: brightness(0.9);
}

.error {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  text-align: center;
}

.error p {
  font-size: 42px;
  color: #ff0000;
  text-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
}

.retry-button {
  background: #5C1E1E;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 32px;
  cursor: pointer;
  transition: transform 0.1s, filter 0.2s;
}